<span style="font-size:20px;">**FOUNDATIONS OF COMPUTER SCIENCE PROJECT**<br>
2023/2024<br>
Muscio Alessandro

**Import usefull libraries**

In [62]:
import pandas as pd
import numpy as np
import os

In [63]:
pd.set_option('display.max_columns', None)

**PRE PROCESSING**

In [64]:
short_trips_path = r"C:\Users\alemu\OneDrive\Documenti\BusMetadata\metaData.csv"
short_trips = pd.read_csv(short_trips_path)

In [65]:
short_trips.head()

,name,busNumber,startTime_iso,startTime_unix,endTime_iso,endTime_unix,drivenDistance,busRoute,energyConsumption,itcs_numberOfPassengers_mean,itcs_numberOfPassengers_min,itcs_numberOfPassengers_max,status_gridIsAvailable_mean,temperature_ambient_mean,temperature_ambient_min,temperature_ambient_max
0,B183_2019-04-30_03-18-56_2019-04-30_08-44-20,183,2019-04-30T03:18:56Z,1556594336,2019-04-30T08:44:20Z,1556613860,77213.87,-,4.785852e+08,5.538860,0,20,0.740640,282.3780,281.15,293.15
1,B183_2019-04-30_13-22-07_2019-04-30_17-54-02,183,2019-04-30T13:22:07Z,1556630527,2019-04-30T17:54:02Z,1556646842,59029.60,31,4.022585e+08,33.114580,4,74,0.855234,287.5443,285.15,293.15
2,B183_2019-05-01_05-58-51_2019-05-01_22-32-30,183,2019-05-01T05:58:51Z,1556690331,2019-05-01T22:32:30Z,1556749950,240900.40,33,1.445733e+09,19.689140,0,55,0.777860,288.7490,280.15,294.15
3,B183_2019-05-03_02-50-21_2019-05-03_05-53-20,183,2019-05-03T02:50:21Z,1556851821,2019-05-03T05:53:20Z,1556862800,42565.48,-,2.819867e+08,1.685185,0,8,0.767122,282.4129,281.15,292.15
4,B183_2019-05-03_15-41-57_2019-05-03_23-06-24,183,2019-05-03T15:41:57Z,1556898117,2019-05-03T23:06:24Z,1556924784,125277.20,72,6.207258e+08,23.753570,1,67,0.907342,284.7325,282.15,287.15

In [66]:
short_trips.dtypes

name                             object
busNumber                         int64
startTime_iso                    object
startTime_unix                    int64
endTime_iso                      object
endTime_unix                      int64
drivenDistance                  float64
busRoute                         object
energyConsumption               float64
itcs_numberOfPassengers_mean    float64
itcs_numberOfPassengers_min       int64
itcs_numberOfPassengers_max       int64
status_gridIsAvailable_mean     float64
temperature_ambient_mean        float64
temperature_ambient_min         float64
temperature_ambient_max         float64
dtype: object

In [67]:
sample_detailed = pd.read_csv(r"C:\Users\alemu\OneDrive\Documenti\FILE BUS\B183_2019-04-30_03-18-56_2019-04-30_08-44-20.csv")
sample_detailed.head()

,time_iso,time_unix,electric_powerDemand,gnss_altitude,gnss_course,gnss_latitude,gnss_longitude,itcs_busRoute,itcs_numberOfPassengers,itcs_stopName,odometry_articulationAngle,odometry_steeringAngle,odometry_vehicleSpeed,odometry_wheelSpeed_fl,odometry_wheelSpeed_fr,odometry_wheelSpeed_ml,odometry_wheelSpeed_mr,odometry_wheelSpeed_rl,odometry_wheelSpeed_rr,status_doorIsOpen,status_gridIsAvailable,status_haltBrakeIsActive,status_parkBrakeIsActive,temperature_ambient,traction_brakePressure,traction_tractionForce
0,2019-04-30T03:18:56Z,1556594336,-13.845510,NaN,NaN,NaN,NaN,-,NaN,-,0.017453,-0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,1,0,0,293.1500,251666.7,0.0
1,2019-04-30T03:18:57Z,1556594337,-3.849362,NaN,NaN,NaN,NaN,-,NaN,-,0.017453,-0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,1,0,0,292.3688,254876.2,0.0
2,2019-04-30T03:18:58Z,1556594338,-0.672331,NaN,NaN,NaN,NaN,-,NaN,-,0.017453,-0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,1,0,0,292.9310,251783.3,0.0
3,2019-04-30T03:18:59Z,1556594339,-1.087931,NaN,NaN,NaN,NaN,-,NaN,-,0.017453,-0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,1,0,0,293.1500,255000.0,0.0
4,2019-04-30T03:19:00Z,1556594340,-0.811985,NaN,NaN,NaN,NaN,-,NaN,-,0.017453,-0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,1,0,0,293.1500,253000.0,0.0

We notice some '-' values that seems to be NaN, we standardize replacing that values with real NaN

In [68]:
directory = r"C:\Users\alemu\OneDrive\Documenti\FILE BUS"

for filename in os.listdir(directory):
    if filename.endswith(".csv"):
        file_path = os.path.join(directory, filename)
        df = pd.read_csv(file_path)
        df.replace('-', pd.NA, inplace=True)
        df.to_csv(file_path, index=False)

In [69]:
sample_detailed_preproc = pd.read_csv(r"C:\Users\alemu\OneDrive\Documenti\FILE BUS\B183_2019-04-30_03-18-56_2019-04-30_08-44-20.csv")
sample_detailed_preproc.head()

,time_iso,time_unix,electric_powerDemand,gnss_altitude,gnss_course,gnss_latitude,gnss_longitude,itcs_busRoute,itcs_numberOfPassengers,itcs_stopName,odometry_articulationAngle,odometry_steeringAngle,odometry_vehicleSpeed,odometry_wheelSpeed_fl,odometry_wheelSpeed_fr,odometry_wheelSpeed_ml,odometry_wheelSpeed_mr,odometry_wheelSpeed_rl,odometry_wheelSpeed_rr,status_doorIsOpen,status_gridIsAvailable,status_haltBrakeIsActive,status_parkBrakeIsActive,temperature_ambient,traction_brakePressure,traction_tractionForce
0,2019-04-30T03:18:56Z,1556594336,-13.845510,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.017453,-0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,1,0,0,293.1500,251666.7,0.0
1,2019-04-30T03:18:57Z,1556594337,-3.849362,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.017453,-0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,1,0,0,292.3688,254876.2,0.0
2,2019-04-30T03:18:58Z,1556594338,-0.672331,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.017453,-0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,1,0,0,292.9310,251783.3,0.0
3,2019-04-30T03:18:59Z,1556594339,-1.087931,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.017453,-0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,1,0,0,293.1500,255000.0,0.0
4,2019-04-30T03:19:00Z,1556594340,-0.811985,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.017453,-0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1,1,0,0,293.1500,253000.0,0.0

In [70]:
#there are also other values in busRoute
short_trips.replace('-', np.NaN, inplace=True)
#short_trips.replace('N4', np.NaN, inplace=True)
#short_trips.replace('N2', np.NaN, inplace=True)
#short_trips.replace('N1', np.NaN, inplace=True)
short_trips.to_csv(file_path, index=False)

In [71]:
short_trips.head()

,name,busNumber,startTime_iso,startTime_unix,endTime_iso,endTime_unix,drivenDistance,busRoute,energyConsumption,itcs_numberOfPassengers_mean,itcs_numberOfPassengers_min,itcs_numberOfPassengers_max,status_gridIsAvailable_mean,temperature_ambient_mean,temperature_ambient_min,temperature_ambient_max
0,B183_2019-04-30_03-18-56_2019-04-30_08-44-20,183,2019-04-30T03:18:56Z,1556594336,2019-04-30T08:44:20Z,1556613860,77213.87,NaN,4.785852e+08,5.538860,0,20,0.740640,282.3780,281.15,293.15
1,B183_2019-04-30_13-22-07_2019-04-30_17-54-02,183,2019-04-30T13:22:07Z,1556630527,2019-04-30T17:54:02Z,1556646842,59029.60,31,4.022585e+08,33.114580,4,74,0.855234,287.5443,285.15,293.15
2,B183_2019-05-01_05-58-51_2019-05-01_22-32-30,183,2019-05-01T05:58:51Z,1556690331,2019-05-01T22:32:30Z,1556749950,240900.40,33,1.445733e+09,19.689140,0,55,0.777860,288.7490,280.15,294.15
3,B183_2019-05-03_02-50-21_2019-05-03_05-53-20,183,2019-05-03T02:50:21Z,1556851821,2019-05-03T05:53:20Z,1556862800,42565.48,NaN,2.819867e+08,1.685185,0,8,0.767122,282.4129,281.15,292.15
4,B183_2019-05-03_15-41-57_2019-05-03_23-06-24,183,2019-05-03T15:41:57Z,1556898117,2019-05-03T23:06:24Z,1556924784,125277.20,72,6.207258e+08,23.753570,1,67,0.907342,284.7325,282.15,287.15

**1. Extract all trips with busRoute 83**

In [72]:
trips_with_route_83 = short_trips[short_trips['busRoute'] == '83']

In [73]:
trips_with_route_83

,name,busNumber,startTime_iso,startTime_unix,endTime_iso,endTime_unix,drivenDistance,busRoute,energyConsumption,itcs_numberOfPassengers_mean,itcs_numberOfPassengers_min,itcs_numberOfPassengers_max,status_gridIsAvailable_mean,temperature_ambient_mean,temperature_ambient_min,temperature_ambient_max
154,B183_2020-03-03_04-42-38_2020-03-03_19-44-51,183,2020-03-03T04:42:38Z,1583210558,2020-03-03T19:44:51Z,1583264691,225047.90,83,1.544278e+09,23.47531,0,118,0.472180,280.5450,279.15,289.1500
155,B183_2020-03-06_04-53-23_2020-03-06_19-44-42,183,2020-03-06T04:53:23Z,1583470403,2020-03-06T19:44:42Z,1583523882,224512.30,83,1.631816e+09,17.41578,0,69,0.451028,279.8850,278.15,289.1500
157,B183_2020-03-09_14-16-13_2020-03-09_19-34-17,183,2020-03-09T14:16:13Z,1583763373,2020-03-09T19:34:17Z,1583782457,77824.36,83,5.406013e+08,23.18182,0,74,0.460099,281.0489,279.15,291.1500
158,B183_2020-03-10_04-50-03_2020-03-10_19-51-25,183,2020-03-10T04:50:03Z,1583815803,2020-03-10T19:51:25Z,1583869885,225095.80,83,1.692171e+09,20.96410,0,86,0.475233,279.8363,279.15,291.1500
159,B183_2020-03-12_04-56-41_2020-03-12_19-44-57,183,2020-03-12T04:56:41Z,1583989001,2020-03-12T19:44:57Z,1584042297,224181.20,83,1.145860e+09,17.21235,0,80,0.340882,287.3445,282.15,291.1500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1399,B208_2022-11-30_04-47-53_2022-11-30_19-50-22,208,2022-11-30T04:47:53Z,1669783673,2022-11-30T19:50:22Z,1669837822,223165.00,83,1.560888e+09,27.89066,2,100,0.456196,280.6948,279.15,293.1500
1400,B208_2022-12-01_05-19-41_2022-12-01_18-20-57,208,2022-12-01T05:19:41Z,1669871981,2022-12-01T18:20:57Z,1669918857,190196.00,83,1.418847e+09,26.03927,0,96,0.450413,279.7655,279.15,292.1500
1401,B208_2022-12-02_04-47-48_2022-12-02_19-40-01,208,2022-12-02T04:47:48Z,1669956468,2022-12-02T19:40:01Z,1670010001,224473.40,83,1.611150e+09,24.80384,2,91,0.438693,279.7888,279.15,291.1500
1405,B208_2022-12-07_05-13-02_2022-12-07_19-19-53,208,2022-12-07T05:13:02Z,1670389982,2022-12-07T19:19:53Z,1670440793,210041.60,83,1.536697e+09,28.78539,0,115,0.434858,279.5283,278.15,292.6655
1406,B208_2022-12-08_05-22-20_2022-12-08_18-39-15,208,2022-12-08T05:22:20Z,1670476940,2022-12-08T18:39:15Z,1670524755,190372.70,83,1.415700e+09,29.87940,0,102,0.439916,279.1724,277.15,292.1500

<span style="font-size:12px;">questa operazione di selezione e filtraggio ci permette di isolare e lavorare con un sottoinsieme specifico di dati che corrisponde a un criterio desiderato, in questo caso tutti i viaggi che si svolgono sulla rotta di autobus 83. </span>

**2. Extract all trips where busRoute is not a number**

In [74]:
# First, convert busRoute to a numeric type, coercing errors. This will convert non-numeric values to NaN
short_trips['busRoute_numeric'] = pd.to_numeric(short_trips['busRoute'], errors='coerce')

# Then, select rows where busRoute_numeric is NaN, indicating the original value was not a number
trips_non_numeric_route = short_trips[pd.isnull(short_trips['busRoute_numeric'])]

# Display the result
trips_non_numeric_route

,name,busNumber,startTime_iso,startTime_unix,endTime_iso,endTime_unix,drivenDistance,busRoute,energyConsumption,itcs_numberOfPassengers_mean,itcs_numberOfPassengers_min,itcs_numberOfPassengers_max,status_gridIsAvailable_mean,temperature_ambient_mean,temperature_ambient_min,temperature_ambient_max,busRoute_numeric
0,B183_2019-04-30_03-18-56_2019-04-30_08-44-20,183,2019-04-30T03:18:56Z,1556594336,2019-04-30T08:44:20Z,1556613860,77213.87,NaN,4.785852e+08,5.538860,0,20,0.740640,282.3780,281.15,293.15,NaN
3,B183_2019-05-03_02-50-21_2019-05-03_05-53-20,183,2019-05-03T02:50:21Z,1556851821,2019-05-03T05:53:20Z,1556862800,42565.48,NaN,2.819867e+08,1.685185,0,8,0.767122,282.4129,281.15,292.15,NaN
9,B183_2019-05-10_03-16-11_2019-05-10_18-51-37,183,2019-05-10T03:16:11Z,1557458171,2019-05-10T18:51:37Z,1557514297,210577.00,NaN,1.303391e+09,8.230483,0,43,0.740927,287.5623,282.15,293.15,NaN
10,B183_2019-05-13_03-10-23_2019-05-13_23-16-13,183,2019-05-13T03:10:23Z,1557717023,2019-05-13T23:16:13Z,1557789373,267033.80,NaN,1.647432e+09,7.891652,0,45,0.804191,284.6764,280.15,293.15,NaN
19,B183_2019-05-24_02-52-47_2019-05-24_22-35-11,183,2019-05-24T02:52:47Z,1558666367,2019-05-24T22:35:11Z,1558737311,263432.60,NaN,1.448057e+09,7.520249,0,44,0.761068,293.1440,283.15,299.15,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1373,B208_2022-10-21_22-38-32_2022-10-22_02-42-21,208,2022-10-21T22:38:32Z,1666391912,2022-10-22T02:42:21Z,1666406541,78567.16,N1,4.347766e+08,16.333330,0,45,0.431852,289.2550,288.15,296.15,NaN
1374,B208_2022-10-22_22-34-45_2022-10-23_02-29-59,208,2022-10-22T22:34:45Z,1666478085,2022-10-23T02:29:59Z,1666492199,73427.97,N2,3.997737e+08,17.710530,0,57,0.443358,287.3486,285.15,295.15,NaN
1394,B208_2022-11-25_23-35-16_2022-11-26_03-30-39,208,2022-11-25T23:35:16Z,1669419316,2022-11-26T03:30:39Z,1669433439,72911.26,N2,4.475534e+08,11.216670,1,32,0.465024,281.3884,280.15,293.15,NaN
1407,B208_2022-12-09_23-55-12_2022-12-10_03-24-28,208,2022-12-09T23:55:12Z,1670630112,2022-12-10T03:24:28Z,1670642668,59548.57,N1,4.519165e+08,20.105260,0,74,0.495739,279.4540,277.15,291.15,NaN
1408,B208_2022-12-10_23-34-46_2022-12-11_03-29-05,208,2022-12-10T23:34:46Z,1670715286,2022-12-11T03:29:05Z,1670729345,72293.83,N2,5.350956e+08,15.993200,0,52,0.459492,276.0036,273.15,291.15,NaN

In [75]:
trips_non_numeric_route['busRoute'].unique()

array([nan, 'N4', 'N2', 'N1'], dtype=object)

<span style="font-size:12px;">**Conversione in Tipo Numerico:**
Prima di tutto, tentiamo di convertire i valori della colonna busRoute in un tipo numerico utilizzando la funzione pd.to_numeric() di pandas. Questa funzione prova a convertire i valori passati a numeri. Il parametro errors='coerce'
**Selezione di Valori Non Numerici:**
Dopo aver tentato la conversione, selezioniamo dal DataFrame originale short_trips solo quelle righe per cui la nuova colonna busRoute_numeric è NaN. 
**Visualizzazione del Risultato:**
Alla fine, il DataFrame trips_non_numeric_route include solo i viaggi i cui valori originali in busRoute non erano numerici, grazie all'uso combinato di conversione numerica con coercizione di errori e successiva selezione basata su NaN.</span>

**3. For each (busNumber, busRoute) pair, determine the number of trips**

In [154]:
# We'll use the original busRoute column for this to include non-numeric values as well
trips_per_bus_route_pair = short_trips.groupby(['busNumber', 'busRoute']).size().reset_index(name='numTrips')
trips_per_bus_route_pair

    busNumber busRoute  numTrips
0         183       31        12
1         183       32        12
2         183       33       130
3         183       46       104
4         183       72       114
5         183       83       441
6         183       N1        10
7         183       N2        19
8         183       N4        11
9         208       31         5
10        208       32        14
11        208       33        25
12        208       46        19
13        208       72        44
14        208       83       405
15        208       N1         6
16        208       N2        20
17        208       N4         7

<span style="font-size:12px;">Questa query conta il numero di viaggi per ogni coppia unica di (numero di autobus, rotta di autobus) nel dataset short_trips. Si raggruppano i dati per busNumber e busRoute usando groupby, e poi si calcola la dimensione di ciascun gruppo con size(), che dà il numero di viaggi per ogni coppia. Il risultato è assegnato a trips_per_bus_route_pair, un DataFrame che elenca ogni coppia (numero di autobus, rotta di autobus) con il relativo conteggio dei viaggi (numTrips).</span>

**4. For each trip, compute the ratio between the energy consumption and the average number of passengers**

In [77]:
# Avoid division by zero by replacing zero passengers with NaN (to treat them as missing data rather than zeros)
short_trips['ratio_energy_per_passenger'] = short_trips['energyConsumption'] / short_trips['itcs_numberOfPassengers_mean'].replace({0: pd.NA})

# Display the name of the trip and the calculated ratio for each trip
trip_energy_passenger_ratio = short_trips[['name', 'ratio_energy_per_passenger']]

trip_energy_passenger_ratio.head()

                                           name  ratio_energy_per_passenger
0  B183_2019-04-30_03-18-56_2019-04-30_08-44-20                8.640500e+07
1  B183_2019-04-30_13-22-07_2019-04-30_17-54-02                1.214747e+07
2  B183_2019-05-01_05-58-51_2019-05-01_22-32-30                7.342794e+07
3  B183_2019-05-03_02-50-21_2019-05-03_05-53-20                1.673328e+08
4  B183_2019-05-03_15-41-57_2019-05-03_23-06-24                2.613190e+07

<span style="font-size:12px;">Questa query calcola il rapporto tra il consumo energetico e il numero medio di passeggeri per ogni viaggio nel dataset short_trips. Prima si sostituiscono i valori zero nel numero medio di passeggeri (itcs_numberOfPassengers_mean) con NaN per evitare divisioni per zero, trattando questi casi come dati mancanti invece che come zeri. Poi si calcola il rapporto dividendo il consumo energetico (energyConsumption) per il numero medio di passeggeri aggiornato. Il risultato, un nuovo rapporto energia-per-passeggero (ratio_energy_per_passenger), è poi visualizzato insieme al nome del viaggio.</span>

**5. For each station (itcs_stopName), determine the average number of passengers.**

In [78]:
sample_detailed_preproc['itcs_stopName'].unique()

array([nan, 'Zürich, Herdernstrasse', 'Zürich, Hardplatz',
       'Zürich, Güterbahnhof', 'Zürich, Bäckeranlage',
       'Zürich, Militär-/Langstrasse', 'Zürich, Kanonengasse',
       'Zürich, Sihlpost / HB', 'Zürich, Löwenplatz',
       'Zürich, Bahnhofplatz/HB', 'Zürich, Central', 'Zürich, Neumarkt',
       'Zürich, Kunsthaus', 'Zürich, Sprecherstrasse',
       'Zürich, Kreuzplatz', 'Zürich, Signaustrasse',
       'Zürich, Hegibachplatz', 'Zürich, Botanischer Garten',
       'Zürich, Höschgasse', 'Zürich, Fröhlichstrasse',
       'Zürich, Wildbachstrasse', 'Zürich, Bahnhof Tiefenbrunnen',
       'Zürich, Freiestrasse', 'Zürich, Klusplatz',
       'Zürich, Hölderlinsteig', 'Zürich, Klosbach', 'Zürich, Hofstrasse',
       'Zürich, Kirche Fluntern', 'Zürich, Hinterbergstrasse',
       'Zürich, Spyriplatz', 'Zürich, Bethanien', 'Zürich, Toblerplatz'],
      dtype=object)

In [79]:
directory = r"C:\Users\alemu\OneDrive\Documenti\FILE BUS"

average_passengers_per_station = pd.DataFrame()

for filename in os.listdir(directory):
    if filename.endswith(".csv"):
        file_path = os.path.join(directory, filename)
        try:
            # Specifica l'engine Python per la lettura
            df = pd.read_csv(file_path, engine='python')
            
            # Esegue il calcolo solo se 'itcs_stopName' e 'itcs_numberOfPassengers' sono presenti
            if 'itcs_stopName' in df.columns and 'itcs_numberOfPassengers' in df.columns:
                # Calcola la media dei passeggeri per stazione e concatena con il risultato generale
                temp = df.groupby('itcs_stopName')['itcs_numberOfPassengers'].mean().reset_index()
                average_passengers_per_station = pd.concat([average_passengers_per_station, temp])
                average_passengers_per_station['itcs_numberOfPassengers'] = round(average_passengers_per_station['itcs_numberOfPassengers'],2)
                
        except Exception as e:
            print(f"Errore nel processare il file {filename}: {e}")

average_passengers_per_station

                    itcs_stopName  itcs_numberOfPassengers
0   Zürich, Bahnhof Tiefenbrunnen                     2.14
1         Zürich, Bahnhofplatz/HB                     1.00
2               Zürich, Bethanien                     3.50
3      Zürich, Botanischer Garten                     6.36
4            Zürich, Bäckeranlage                     5.00
..                            ...                      ...
33       Zürich, Segantinistrasse                     8.00
34          Zürich, Sihlpost / HB                    47.50
35            Zürich, Sihlquai/HB                    10.00
36          Zürich, Singlistrasse                     7.00
37           Zürich, Wieslergasse                     7.00

[34286 rows x 2 columns]

In [80]:
average_passengers_per_station['itcs_numberOfPassengers'] = round(average_passengers_per_station['itcs_numberOfPassengers'],2)
average_passengers_per_station

                    itcs_stopName  itcs_numberOfPassengers
0   Zürich, Bahnhof Tiefenbrunnen                     2.14
1         Zürich, Bahnhofplatz/HB                     1.00
2               Zürich, Bethanien                     3.50
3      Zürich, Botanischer Garten                     6.36
4            Zürich, Bäckeranlage                     5.00
..                            ...                      ...
33       Zürich, Segantinistrasse                     8.00
34          Zürich, Sihlpost / HB                    47.50
35            Zürich, Sihlquai/HB                    10.00
36          Zürich, Singlistrasse                     7.00
37           Zürich, Wieslergasse                     7.00

[34286 rows x 2 columns]

<span style="font-size:12px;"> **L'opzione engine='python' utilizzata nella funzione pd.read_csv() di pandas specifica quale motore pandas deve utilizzare per interpretare i file CSV.** Pandas supporta due motori per la lettura dei dati CSV: il motore "C" e il motore "Python".
Motore "C": È il motore di default utilizzato da pandas per leggere i file CSV. È scritto in linguaggio C, il che lo rende significativamente più veloce per la maggior parte dei casi d'uso. Tuttavia, potrebbe non gestire bene alcune situazioni più complesse o malformate nei dati CSV, specialmente quando ci sono problemi di tokenizzazione o formattazione del file.
Motore "Python": Anche se generalmente più lento del motore C, il motore Python è spesso più flessibile nel gestire formati di file complicati o leggermente malformati. Questo motore è particolarmente utile quando si incontrano errori di analisi che il motore C non riesce a superare. L'uso del motore Python può risolvere problemi come file con quote non standard, delimitatori inconsueti o file che provocano errori di tokenizzazione con il motore C.
Quando si specifica engine='python' in pd.read_csv(), si sta istruendo pandas a utilizzare il motore di analisi basato su Python per leggere il file CSV. Questa opzione può essere particolarmente utile se si incontrano avvisi o errori relativi alla lettura dei dati che suggeriscono di provare l'engine Python, come l'errore ParserError: Error tokenizing data. C error: Calling read(nbytes) on source failed. Try engine='python'.</span>

**6. For each station, determine the buses that have stopped there at least once.**

In [155]:
# Dizionario per tracciare le stazioni e gli autobus che si sono fermati almeno una volta
stations_bus_stops_once = defaultdict(set)

# Elaborazione di ogni file nella cartella
for file_name in os.listdir(directory):
    if file_name.endswith('.csv'):
        file_path = os.path.join(directory, file_name)
        
        # Carica il DataFrame
        df = pd.read_csv(file_path)
        
        # Verifica se la colonna 'itcs_stopName' è presente nel DataFrame
        if 'itcs_stopName' not in df.columns:
            print(f"Il file {file_name} non contiene la colonna 'itcs_stopName' e sarà escluso dall'analisi.")
            continue  # Salta questo file e procedi con il prossimo nel ciclo
            
        # Estrai il numero dell'autobus dal nome del file
        bus_number = file_name.split('_')[0][1:]
        
               
        # Aggiorna il dizionario con le stazioni e gli autobus
        for stop_name in df['itcs_stopName'].dropna().unique():
            stations_bus_stops_once[stop_name].add(bus_number)

# Converti il dizionario in un DataFrame per una visualizzazione tabellare
stations_buses_df = pd.DataFrame([(station, ', '.join(sorted(buses))) for station, buses in stations_bus_stops_once.items()],
                                 columns=['Station', 'Buses'])

C:\Users\alemu\AppData\Local\Temp\ipykernel_25096\116561596.py:10: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\alemu\AppData\Local\Temp\ipykernel_25096\116561596.py:10: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\alemu\AppData\Local\Temp\ipykernel_25096\116561596.py:10: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\alemu\AppData\Local\Temp\ipykernel_25096\116561596.py:10: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\alemu\AppData\Local\Temp\ipykernel_25096\116561596.py:10: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\alemu\AppData\Local\Temp\ipykernel_25096\116561596.py:10: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\alemu\AppData\Local\Temp\ipykernel_25096\116561596.py:10: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\alemu\AppData\Local\Temp\ipykernel_25096\116561596.py:10: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\alemu\AppData\Local\Temp\ipykernel_25096\116561596.py:10: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\alemu\AppData\Local\Temp\ipykernel_25096\116561596.py:10: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\alemu\AppData\Local\Temp\ipykernel_25096\116561596.py:10: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\alemu\AppData\Local\Temp\ipykernel_25096\116561596.py:10: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\alemu\AppData\Local\Temp\ipykernel_25096\116561596.py:10: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\alemu\AppData\Local\Temp\ipykernel_25096\116561596.py:10: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\alemu\AppData\Local\Temp\ipykernel_25096\116561596.py:10: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\alemu\AppData\Local\Temp\ipykernel_25096\116561596.py:10: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\alemu\AppData\Local\Temp\ipykernel_25096\116561596.py:10: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\alemu\AppData\Local\Temp\ipykernel_25096\116561596.py:10: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\alemu\AppData\Local\Temp\ipykernel_25096\116561596.py:10: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\alemu\AppData\Local\Temp\ipykernel_25096\116561596.py:10: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\alemu\AppData\Local\Temp\ipykernel_25096\116561596.py:10: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\alemu\AppData\Local\Temp\ipykernel_25096\116561596.py:10: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\alemu\AppData\Local\Temp\ipykernel_25096\116561596.py:10: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\alemu\AppData\Local\Temp\ipykernel_25096\116561596.py:10: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\alemu\AppData\Local\Temp\ipykernel_25096\116561596.py:10: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\alemu\AppData\Local\Temp\ipykernel_25096\116561596.py:10: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\alemu\AppData\Local\Temp\ipykernel_25096\116561596.py:10: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)

Il file B208_2022-12-10_23-34-46_2022-12-11_03-29-05.csv non contiene la colonna 'itcs_stopName' e sarà escluso dall'analisi.

In [156]:
stations_buses_df.head()

                        Station     Buses
0        Zürich, Herdernstrasse  183, 208
1             Zürich, Hardplatz  183, 208
2          Zürich, Güterbahnhof  183, 208
3          Zürich, Bäckeranlage  183, 208
4  Zürich, Militär-/Langstrasse  183, 208

**7. For each station, determine the buses that have stopped there at least ten times.**

In [94]:
#from collections import defaultdict

for file_name in os.listdir(directory):
    if file_name.endswith('.csv'):
        file_path = os.path.join(directory, file_name)
        
        # Tenta di caricare il DataFrame
        df = pd.read_csv(file_path)
        
        # Verifica se la colonna 'itcs_stopName' è presente nel DataFrame
        if 'itcs_stopName' not in df.columns:
            print(f"Il file {file_name} non contiene la colonna 'itcs_stopName' e sarà escluso dall'analisi.")
            continue  # Salta questo file e procedi con il prossimo nel ciclo
        
        # Estrai il numero dell'autobus dal nome del file
        bus_number = file_name.split('_')[0][1:]
        
        # Aggiorna il conteggio delle fermate per le stazioni presenti nel file
        for stop_name in df['itcs_stopName'].unique():
            stations_bus_stops_count[stop_name][bus_number] += len(df[df['itcs_stopName'] == stop_name])

C:\Users\alemu\AppData\Local\Temp\ipykernel_25096\4071160405.py:8: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\alemu\AppData\Local\Temp\ipykernel_25096\4071160405.py:8: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\alemu\AppData\Local\Temp\ipykernel_25096\4071160405.py:8: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\alemu\AppData\Local\Temp\ipykernel_25096\4071160405.py:8: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\alemu\AppData\Local\Temp\ipykernel_25096\4071160405.py:8: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\alemu\AppData\Local\Temp\ipykernel_25096\4071160405.py:8: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\alemu\AppData\Local\Temp\ipykernel_25096\4071160405.py:8: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\alemu\AppData\Local\Temp\ipykernel_25096\4071160405.py:8: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\alemu\AppData\Local\Temp\ipykernel_25096\4071160405.py:8: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\alemu\AppData\Local\Temp\ipykernel_25096\4071160405.py:8: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\alemu\AppData\Local\Temp\ipykernel_25096\4071160405.py:8: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\alemu\AppData\Local\Temp\ipykernel_25096\4071160405.py:8: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\alemu\AppData\Local\Temp\ipykernel_25096\4071160405.py:8: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\alemu\AppData\Local\Temp\ipykernel_25096\4071160405.py:8: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\alemu\AppData\Local\Temp\ipykernel_25096\4071160405.py:8: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\alemu\AppData\Local\Temp\ipykernel_25096\4071160405.py:8: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\alemu\AppData\Local\Temp\ipykernel_25096\4071160405.py:8: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\alemu\AppData\Local\Temp\ipykernel_25096\4071160405.py:8: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\alemu\AppData\Local\Temp\ipykernel_25096\4071160405.py:8: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\alemu\AppData\Local\Temp\ipykernel_25096\4071160405.py:8: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\alemu\AppData\Local\Temp\ipykernel_25096\4071160405.py:8: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\alemu\AppData\Local\Temp\ipykernel_25096\4071160405.py:8: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\alemu\AppData\Local\Temp\ipykernel_25096\4071160405.py:8: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\alemu\AppData\Local\Temp\ipykernel_25096\4071160405.py:8: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\alemu\AppData\Local\Temp\ipykernel_25096\4071160405.py:8: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\alemu\AppData\Local\Temp\ipykernel_25096\4071160405.py:8: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\alemu\AppData\Local\Temp\ipykernel_25096\4071160405.py:8: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)

Il file B208_2022-12-10_23-34-46_2022-12-11_03-29-05.csv non contiene la colonna 'itcs_stopName' e sarà escluso dall'analisi.

In [92]:
test = pd.read_csv(r'C:\Users\alemu\OneDrive\Documenti\FILE BUS\B208_2022-12-10_23-34-46_2022-12-11_03-29-05.csv')
test.columns

Index(['name', 'busNumber', 'startTime_iso', 'startTime_unix', 'endTime_iso',
       'endTime_unix', 'drivenDistance', 'busRoute', 'energyConsumption',
       'itcs_numberOfPassengers_mean', 'itcs_numberOfPassengers_min',
       'itcs_numberOfPassengers_max', 'status_gridIsAvailable_mean',
       'temperature_ambient_mean', 'temperature_ambient_min',
       'temperature_ambient_max'],
      dtype='object')

In [95]:
stations_bus_stops_at_least_ten_times_df = pd.DataFrame([
    {"Station": station, "BusNumber": bus_number, "StopCount": stop_count}
    for station, buses in stations_bus_stops_count.items()
    for bus_number, stop_count in buses.items()
    if stop_count >= 10
])

stations_bus_stops_at_least_ten_times_df.head()

                  Station BusNumber  StopCount
0  Zürich, Herdernstrasse       183       1182
1  Zürich, Herdernstrasse       208        838
2       Zürich, Hardplatz       183      23330
3       Zürich, Hardplatz       208      15700
4    Zürich, Güterbahnhof       183        624

<span style="font-size:12px;"> Iterazione sui File CSV: Si itera su tutti i file nella directory specificata, considerando solo i file che terminano con ".csv".
Lettura del DataFrame: Per ogni file, si tenta di caricare i dati in un DataFrame di pandas. Se la colonna itcs_stopName, che identifica le stazioni di fermata, non è presente, il file viene escluso dall'analisi.
Estrazione del Numero dell'Autobus: Si estrae il numero dell'autobus dal nome del file. Questo presuppone che il nome del file contenga il numero dell'autobus in una posizione nota, tipicamente all'inizio.
Aggiornamento del Dizionario: Per ogni stazione (itcs_stopName) univoca nel DataFrame, si aggiorna un dizionario (stations_bus_stops_count) che traccia quante volte ciascun autobus si è fermato in quella stazione. Il conteggio delle fermate è incrementato per ogni occorrenza di una fermata di autobus in quella stazione nel file corrente.
Generazione del DataFrame: Dopo aver completato l'iterazione su tutti i file, si genera un DataFrame da stations_bus_stops_count che include solo le coppie di stazione-autobus dove l'autobus si è fermato almeno 10 volte. Questo DataFrame finale ha colonne per la stazione, il numero dell'autobus, e il conteggio delle fermate, fornendo una visualizzazione chiara di quali autobus frequentano più assiduamente determinate stazioni.</span>

**9. For each (route, bus) pair, compute the ratio between the overall energy consumption and the overall driven distance.**

In [84]:
short_trips['energy_distance_ratio'] = short_trips['energyConsumption'] / short_trips['drivenDistance']

# Raggruppamento per (busRoute, busNumber) per calcolare il consumo energetico totale e la distanza totale percorsa
grouped_ratio = short_trips.groupby(['busRoute', 'busNumber'])[['energyConsumption', 'drivenDistance']].sum()
grouped_ratio['overall_energy_distance_ratio'] = grouped_ratio['energyConsumption'] / grouped_ratio['drivenDistance']

# Reset dell'indice per avere busRoute e busNumber come colonne
grouped_ratio_reset = grouped_ratio.reset_index()

grouped_ratio_reset.head()

,busRoute,busNumber,energyConsumption,drivenDistance,overall_energy_distance_ratio
0,31,183,1.387782e+10,2279952.00,6086.891785
1,31,208,5.535865e+09,1046306.68,5290.862713
2,32,183,1.393320e+10,2256540.10,6174.585331
3,32,208,1.283340e+10,2337064.21,5491.247671
4,33,183,1.761996e+11,29510481.41,5970.747507

<span style="font-size:12px;">Calcolo del Rapporto Energetico/Distanza per Viaggio: tra consumo di energia e distanza percorsa. 
Poi Raggruppiamo per Coppia (Rotta, Autobus).
Calcolo del Rapporto Energetico/Distanza Totale: Per ciascun gruppo (cioè per ogni coppia rotta-autobus),si calcola il rapporto tra il consumo energetico totale e la distanza totale percorsa.
Reset dell'Indice: L'indice viene resettato per convertire busRoute e busNumber da indici a colonne normali nel DataFrame grouped_ratio_reset. </span>

**10. Starting from the results of the previous point, for each route compute the buses with max and min energy ratio, and save the difference between these ratios in a dataframe.**

In [87]:
# Trovare gli autobus con il rapporto energetico massimo e minimo per ogni percorso
max_ratio_per_route = grouped_ratio_reset.groupby('busRoute')['overall_energy_distance_ratio'].idxmax()
min_ratio_per_route = grouped_ratio_reset.groupby('busRoute')['overall_energy_distance_ratio'].idxmin()

# Estrazione dei dati per gli autobus con il rapporto massimo e minimo
max_ratio_buses = grouped_ratio_reset.loc[max_ratio_per_route].set_index('busRoute')
min_ratio_buses = grouped_ratio_reset.loc[min_ratio_per_route].set_index('busRoute')

# Calcolo della differenza dei rapporti e salvataggio in un dataframe
difference_df = pd.DataFrame({
    'Route': max_ratio_buses.index,
    'MaxRatioBus': max_ratio_buses['busNumber'],
    'MinRatioBus': min_ratio_buses['busNumber'],
    'MaxRatio': round(max_ratio_buses['overall_energy_distance_ratio'],2),
    'MinRatio': round(min_ratio_buses['overall_energy_distance_ratio'],2),
    'Difference': round(max_ratio_buses['overall_energy_distance_ratio'] - min_ratio_buses['overall_energy_distance_ratio'],2)
}).reset_index(drop=True)

In [88]:
difference_df.head()

  Route  MaxRatioBus  MinRatioBus  MaxRatio  MinRatio  Difference
0    31          183          208   6086.89   5290.86      796.03
1    32          183          208   6174.59   5491.25      683.34
2    33          183          208   5970.75   5639.24      331.50
3    46          183          208   5631.04   5583.11       47.93
4    72          183          208   5899.03   5410.32      488.71

<span style="font-size:12px;"> Questo processo fornisce un'analisi comparativa dell'efficienza energetica tra gli autobus su ciascuna rotta, evidenziando le variazioni di performance.</span>

**11. Find the bus maximizing the difference computed in the previous point.**

In [100]:
max_difference_bus = difference_df.loc[difference_df['Difference'].idxmax()]

max_difference_bus

Route               31
MaxRatioBus        183
MinRatioBus        208
MaxRatio       6086.89
MinRatio       5290.86
Difference      796.03
Name: 0, dtype: object

<span style="font-size:12px;">Individuazione della Massima Differenza:che rappresenta la differenza tra il rapporto energia/distanza più alto e più basso per ogni rotta.La riga trovata rappresenta l'autobus (o la coppia autobus-rotta) con la maggiore variazione di efficienza energetic</span>

**12. Extract the rows of the details such that the gnss_altitude differs from the value in the preceding row. Store also the difference in the variable altitude_variation.**

In [102]:
def extract_altitude_variation_rows(file_path):
    data = pd.read_csv(file_path)
    data['altitude_variation'] = data['gnss_altitude'].diff()
    # Rimuovi le righe senza variazione di altitudine o con NaN
    data_with_variation = data.dropna(subset=['altitude_variation'])
    data_with_variation = data_with_variation[data_with_variation['altitude_variation'] != 0]
    return data_with_variation

In [104]:
# Elenco di tutti i file nella directory e estrazione delle righe con variazione di altitudine
for file_name in os.listdir(directory):
    if file_name == 'B208_2022-12-10_23-34-46_2022-12-11_03-29-05.csv':
        continue
    file_path = os.path.join(directory, file_name)
    if os.path.isfile(file_path):
        try:
            data_with_variation = extract_altitude_variation_rows(file_path)
            # Salva il DataFrame risultante o esegui altre operazioni qui
        except Exception as e:
            print(f"Errore durante l'elaborazione del file {file_name}: {e}")

C:\Users\alemu\AppData\Local\Temp\ipykernel_25096\601576413.py:2: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(file_path)
C:\Users\alemu\AppData\Local\Temp\ipykernel_25096\601576413.py:2: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(file_path)
C:\Users\alemu\AppData\Local\Temp\ipykernel_25096\601576413.py:2: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(file_path)
C:\Users\alemu\AppData\Local\Temp\ipykernel_25096\601576413.py:2: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(file_path)
C:\Users\alemu\AppData\Local\Temp\ipykernel_25096\601576413.py:2: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(file_path)
C:\Users\alemu\AppData\Local\Temp\ipykernel_25096\601576413.py:2: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(file_path)
C:\Users\alemu\AppData\Local\Temp\ipykernel_25096\601576413.py:2: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(file_path)
C:\Users\alemu\AppData\Local\Temp\ipykernel_25096\601576413.py:2: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(file_path)
C:\Users\alemu\AppData\Local\Temp\ipykernel_25096\601576413.py:2: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(file_path)
C:\Users\alemu\AppData\Local\Temp\ipykernel_25096\601576413.py:2: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(file_path)
C:\Users\alemu\AppData\Local\Temp\ipykernel_25096\601576413.py:2: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(file_path)
C:\Users\alemu\AppData\Local\Temp\ipykernel_25096\601576413.py:2: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(file_path)
C:\Users\alemu\AppData\Local\Temp\ipykernel_25096\601576413.py:2: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(file_path)
C:\Users\alemu\AppData\Local\Temp\ipykernel_25096\601576413.py:2: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(file_path)
C:\Users\alemu\AppData\Local\Temp\ipykernel_25096\601576413.py:2: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(file_path)
C:\Users\alemu\AppData\Local\Temp\ipykernel_25096\601576413.py:2: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(file_path)
C:\Users\alemu\AppData\Local\Temp\ipykernel_25096\601576413.py:2: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(file_path)
C:\Users\alemu\AppData\Local\Temp\ipykernel_25096\601576413.py:2: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(file_path)
C:\Users\alemu\AppData\Local\Temp\ipykernel_25096\601576413.py:2: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(file_path)
C:\Users\alemu\AppData\Local\Temp\ipykernel_25096\601576413.py:2: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(file_path)
C:\Users\alemu\AppData\Local\Temp\ipykernel_25096\601576413.py:2: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(file_path)
C:\Users\alemu\AppData\Local\Temp\ipykernel_25096\601576413.py:2: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(file_path)
C:\Users\alemu\AppData\Local\Temp\ipykernel_25096\601576413.py:2: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(file_path)
C:\Users\alemu\AppData\Local\Temp\ipykernel_25096\601576413.py:2: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(file_path)
C:\Users\alemu\AppData\Local\Temp\ipykernel_25096\601576413.py:2: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(file_path)
C:\Users\alemu\AppData\Local\Temp\ipykernel_25096\601576413.py:2: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(file_path)
C:\Users\alemu\AppData\Local\Temp\ipykernel_25096\601576413.py:2: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(file_path)

In [105]:
data_with_variation

,time_iso,time_unix,electric_powerDemand,gnss_altitude,gnss_course,gnss_latitude,gnss_longitude,itcs_busRoute,itcs_numberOfPassengers,itcs_stopName,odometry_articulationAngle,odometry_steeringAngle,odometry_vehicleSpeed,odometry_wheelSpeed_fl,odometry_wheelSpeed_fr,odometry_wheelSpeed_ml,odometry_wheelSpeed_mr,odometry_wheelSpeed_rl,odometry_wheelSpeed_rr,status_doorIsOpen,status_gridIsAvailable,status_haltBrakeIsActive,status_parkBrakeIsActive,temperature_ambient,traction_brakePressure,traction_tractionForce,altitude_variation
894,2022-12-10T00:10:06Z,1670631006,29613.68000,464.6637,5.249341,0.826992,0.148475,NaN,NaN,NaN,0.034907,-0.008727,6.024601,5.960199,5.960199,5.960199,5.944241,5.942838,5.960199,0,0,0,0,288.15,0.0,3085.293000,8.8997
895,2022-12-10T00:10:07Z,1670631007,34143.37000,470.5576,5.284369,0.826993,0.148474,NaN,NaN,NaN,0.052360,-0.008727,6.039796,5.976106,5.976106,5.976106,5.959659,5.959659,5.976106,0,0,0,0,288.15,0.0,4028.013000,5.8939
896,2022-12-10T00:10:08Z,1670631008,22424.23000,474.7502,5.316267,0.826993,0.148473,NaN,NaN,NaN,0.052360,-0.008727,6.045831,5.984003,5.984003,5.984003,5.967882,5.966642,5.966642,0,0,0,0,288.15,0.0,2473.190000,4.1926
897,2022-12-10T00:10:09Z,1670631009,8950.69500,433.0904,5.294082,0.826993,0.148468,NaN,NaN,NaN,0.052360,0.000000,5.943752,5.886292,5.886292,5.868931,5.869305,5.851943,5.852317,0,0,0,0,288.15,0.0,-4.132516,-41.6598
898,2022-12-10T00:10:10Z,1670631010,2257.43900,430.2887,5.289728,0.826993,0.148467,NaN,NaN,NaN,0.052360,-0.000540,5.823776,5.779438,5.779438,5.762077,5.745790,5.744716,5.762077,0,0,0,0,288.15,0.0,-910.064800,-2.8017
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12552,2022-12-10T03:24:24Z,1670642664,18.15623,247.1100,3.449945,0.826931,0.148486,NaN,NaN,NaN,0.034907,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1,0,1,1,279.15,240000.0,0.000000,-1.9890
12553,2022-12-10T03:24:25Z,1670642665,72.64505,245.3041,3.458822,0.826931,0.148485,NaN,NaN,NaN,0.034907,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1,0,1,1,279.15,242500.0,0.000000,-1.8059
12554,2022-12-10T03:24:26Z,1670642666,-33.64738,245.0110,3.395764,0.826929,0.148485,NaN,NaN,NaN,0.034907,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1,0,1,1,279.15,241865.8,0.000000,-0.2931
12555,2022-12-10T03:24:27Z,1670642667,54.45136,244.6224,0.189765,0.826928,0.148484,NaN,NaN,NaN,0.034907,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1,0,1,1,279.15,241666.7,0.000000,-0.3886
12556,2022-12-10T03:24:28Z,1670642668,54.45789,233.6167,0.000000,0.826929,0.148481,NaN,NaN,NaN,0.034907,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1,0,1,1,279.15,240833.3,0.000000,-11.0057

**13. For each details dataset, compute the sum of the absolute value (i.e. the sign is not considered) of altitude_variation.**

In [108]:
def calculate_absolute_sum_of_variation(file_path):
    data = pd.read_csv(file_path)
    data['altitude_variation'] = data['gnss_altitude'].diff().abs()
    absolute_sum = round(data['altitude_variation'].sum(),2)
    return absolute_sum

# Lista per raccogliere le somme dei valori assoluti delle variazioni di altitudine per ogni file
absolute_sums = []

for file_name in os.listdir(directory):
    if file_name == 'B208_2022-12-10_23-34-46_2022-12-11_03-29-05.csv':
        continue
    file_path = os.path.join(directory, file_name)
    if os.path.isfile(file_path):
        try:
            absolute_sum = calculate_absolute_sum_of_variation(file_path)
            absolute_sums.append((file_name, absolute_sum))
        except Exception as e:
            print(f"Errore durante l'elaborazione del file {file_name}: {e}")

absolute_sums_df = pd.DataFrame(absolute_sums, columns=['File', 'SumOfAltitudeVariations'])

C:\Users\alemu\AppData\Local\Temp\ipykernel_25096\3532401847.py:2: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(file_path)
C:\Users\alemu\AppData\Local\Temp\ipykernel_25096\3532401847.py:2: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(file_path)
C:\Users\alemu\AppData\Local\Temp\ipykernel_25096\3532401847.py:2: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(file_path)
C:\Users\alemu\AppData\Local\Temp\ipykernel_25096\3532401847.py:2: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(file_path)
C:\Users\alemu\AppData\Local\Temp\ipykernel_25096\3532401847.py:2: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(file_path)
C:\Users\alemu\AppData\Local\Temp\ipykernel_25096\3532401847.py:2: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(file_path)
C:\Users\alemu\AppData\Local\Temp\ipykernel_25096\3532401847.py:2: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(file_path)
C:\Users\alemu\AppData\Local\Temp\ipykernel_25096\3532401847.py:2: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(file_path)
C:\Users\alemu\AppData\Local\Temp\ipykernel_25096\3532401847.py:2: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(file_path)
C:\Users\alemu\AppData\Local\Temp\ipykernel_25096\3532401847.py:2: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(file_path)
C:\Users\alemu\AppData\Local\Temp\ipykernel_25096\3532401847.py:2: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(file_path)
C:\Users\alemu\AppData\Local\Temp\ipykernel_25096\3532401847.py:2: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(file_path)
C:\Users\alemu\AppData\Local\Temp\ipykernel_25096\3532401847.py:2: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(file_path)
C:\Users\alemu\AppData\Local\Temp\ipykernel_25096\3532401847.py:2: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(file_path)
C:\Users\alemu\AppData\Local\Temp\ipykernel_25096\3532401847.py:2: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(file_path)
C:\Users\alemu\AppData\Local\Temp\ipykernel_25096\3532401847.py:2: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(file_path)
C:\Users\alemu\AppData\Local\Temp\ipykernel_25096\3532401847.py:2: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(file_path)
C:\Users\alemu\AppData\Local\Temp\ipykernel_25096\3532401847.py:2: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(file_path)
C:\Users\alemu\AppData\Local\Temp\ipykernel_25096\3532401847.py:2: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(file_path)
C:\Users\alemu\AppData\Local\Temp\ipykernel_25096\3532401847.py:2: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(file_path)
C:\Users\alemu\AppData\Local\Temp\ipykernel_25096\3532401847.py:2: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(file_path)
C:\Users\alemu\AppData\Local\Temp\ipykernel_25096\3532401847.py:2: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(file_path)
C:\Users\alemu\AppData\Local\Temp\ipykernel_25096\3532401847.py:2: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(file_path)
C:\Users\alemu\AppData\Local\Temp\ipykernel_25096\3532401847.py:2: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(file_path)
C:\Users\alemu\AppData\Local\Temp\ipykernel_25096\3532401847.py:2: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(file_path)
C:\Users\alemu\AppData\Local\Temp\ipykernel_25096\3532401847.py:2: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(file_path)
C:\Users\alemu\AppData\Local\Temp\ipykernel_25096\3532401847.py:2: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv(file_path)

In [109]:
absolute_sums_df

,File,SumOfAltitudeVariations
0,B183_2019-04-30_03-18-56_2019-04-30_08-44-20.csv,184.74
1,B183_2019-04-30_13-22-07_2019-04-30_17-54-02.csv,3896.83
2,B183_2019-05-01_05-58-51_2019-05-01_22-32-30.csv,637.41
3,B183_2019-05-03_02-50-21_2019-05-03_05-53-20.csv,4074.48
4,B183_2019-05-03_15-41-57_2019-05-03_23-06-24.csv,13325.95
...,...,...
1403,B208_2022-12-05_05-15-15_2022-12-06_00-02-12.csv,14363.84
1404,B208_2022-12-06_14-43-49_2022-12-06_18-22-52.csv,2300.40
1405,B208_2022-12-07_05-13-02_2022-12-07_19-19-53.csv,8617.68
1406,B208_2022-12-08_05-22-20_2022-12-08_18-39-15.csv,8022.73
1407,B208_2022-12-09_23-55-12_2022-12-10_03-24-28.csv,2748.42

**14. For each month of the year, compute the average ambient temperature**

In [149]:
from glob import glob

# Ottieni l'elenco di tutti i file CSV nella cartella
file_paths = glob(os.path.join(directory, '*.csv'))

# Preparazione di un DataFrame per raccogliere i dati aggregati
monthly_temps = pd.DataFrame()

for file_path in file_paths:
    # Estrai il nome del file dal percorso completo
    file_name = os.path.basename(file_path)
    
    # Controlla se il nome del file corrisponde a quello da escludere
    if file_name == 'B208_2022-12-10_23-34-46_2022-12-11_03-29-05.csv':
        continue
    
    df = pd.read_csv(file_path)
    
    # Assumi che 'time_iso' sia la colonna temporale e 'temperature_ambient' quella della temperatura
    # Converti la colonna temporale in formato datetime di pandas
    df['time_iso'] = pd.to_datetime(df['time_iso'])
    
    # Estrai il mese dall'orario e aggiungi come nuova colonna
    df['month'] = df['time_iso'].dt.month
    
    # Calcola la media mensile della temperatura per il file corrente
    monthly_avg = df.groupby('month')['temperature_ambient'].mean().reset_index()
    
    # Combina i risultati con quelli dei file precedenti
    monthly_temps = pd.concat([monthly_temps, monthly_avg], ignore_index=True)

# Calcola la media globale della temperatura per ogni mese su tutti i file
global_monthly_avg = monthly_temps.groupby('month')['temperature_ambient'].mean().reset_index()

global_monthly_avg['temperature_ambient'] = global_monthly_avg['temperature_ambient'].round(2)

# Visualizza i risultati
global_monthly_avg

C:\Users\alemu\AppData\Local\Temp\ipykernel_25096\965014685.py:17: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\alemu\AppData\Local\Temp\ipykernel_25096\965014685.py:17: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\alemu\AppData\Local\Temp\ipykernel_25096\965014685.py:17: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\alemu\AppData\Local\Temp\ipykernel_25096\965014685.py:17: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\alemu\AppData\Local\Temp\ipykernel_25096\965014685.py:17: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\alemu\AppData\Local\Temp\ipykernel_25096\965014685.py:17: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\alemu\AppData\Local\Temp\ipykernel_25096\965014685.py:17: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\alemu\AppData\Local\Temp\ipykernel_25096\965014685.py:17: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\alemu\AppData\Local\Temp\ipykernel_25096\965014685.py:17: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\alemu\AppData\Local\Temp\ipykernel_25096\965014685.py:17: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\alemu\AppData\Local\Temp\ipykernel_25096\965014685.py:17: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\alemu\AppData\Local\Temp\ipykernel_25096\965014685.py:17: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\alemu\AppData\Local\Temp\ipykernel_25096\965014685.py:17: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\alemu\AppData\Local\Temp\ipykernel_25096\965014685.py:17: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\alemu\AppData\Local\Temp\ipykernel_25096\965014685.py:17: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\alemu\AppData\Local\Temp\ipykernel_25096\965014685.py:17: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\alemu\AppData\Local\Temp\ipykernel_25096\965014685.py:17: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\alemu\AppData\Local\Temp\ipykernel_25096\965014685.py:17: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\alemu\AppData\Local\Temp\ipykernel_25096\965014685.py:17: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\alemu\AppData\Local\Temp\ipykernel_25096\965014685.py:17: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\alemu\AppData\Local\Temp\ipykernel_25096\965014685.py:17: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\alemu\AppData\Local\Temp\ipykernel_25096\965014685.py:17: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\alemu\AppData\Local\Temp\ipykernel_25096\965014685.py:17: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\alemu\AppData\Local\Temp\ipykernel_25096\965014685.py:17: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\alemu\AppData\Local\Temp\ipykernel_25096\965014685.py:17: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\alemu\AppData\Local\Temp\ipykernel_25096\965014685.py:17: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\alemu\AppData\Local\Temp\ipykernel_25096\965014685.py:17: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)

    month  temperature_ambient
0       1               278.91
1       2               280.53
2       3               283.31
3       4               286.61
4       5               290.01
5       6               296.14
6       7               297.37
7       8               295.84
8       9               292.36
9      10               287.71
10     11               281.91
11     12               279.42

**15. For each bus compute the total time when the halt brake is active and the total time when the park brake is active. Compute also the ratio between those two times.**

In [120]:
# Trova tutti i file CSV nella directory
file_paths = glob(os.path.join(directory, '*.csv'))

# Inizializza una lista per raccogliere i dati di ciascun file
results = []

for file_path in file_paths:
    file_name = os.path.basename(file_path)
    
    # Salta l'elaborazione per il file specificato
    if file_name == 'B208_2022-12-10_23-34-46_2022-12-11_03-29-05.csv':
        continue
    
    bus_id = file_name.split('_')[0]
    
    df = pd.read_csv(file_path)
    
    halt_time = df['status_haltBrakeIsActive'].sum()
    park_time = df['status_parkBrakeIsActive'].sum()
    ratio = halt_time / park_time if park_time else float('inf')
    
    # Crea un dizionario per i risultati correnti e aggiungilo alla lista
    results.append({
        'bus_id': bus_id,
        'halt_brake_active_time': halt_time,
        'park_brake_active_time': park_time,
        'ratio': ratio
    })

# Converte la lista di dizionari in un DataFrame
results_df = pd.DataFrame(results)

C:\Users\alemu\AppData\Local\Temp\ipykernel_25096\3813818274.py:16: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\alemu\AppData\Local\Temp\ipykernel_25096\3813818274.py:16: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\alemu\AppData\Local\Temp\ipykernel_25096\3813818274.py:16: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\alemu\AppData\Local\Temp\ipykernel_25096\3813818274.py:16: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\alemu\AppData\Local\Temp\ipykernel_25096\3813818274.py:16: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\alemu\AppData\Local\Temp\ipykernel_25096\3813818274.py:16: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\alemu\AppData\Local\Temp\ipykernel_25096\3813818274.py:16: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\alemu\AppData\Local\Temp\ipykernel_25096\3813818274.py:16: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\alemu\AppData\Local\Temp\ipykernel_25096\3813818274.py:16: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\alemu\AppData\Local\Temp\ipykernel_25096\3813818274.py:16: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\alemu\AppData\Local\Temp\ipykernel_25096\3813818274.py:16: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\alemu\AppData\Local\Temp\ipykernel_25096\3813818274.py:16: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\alemu\AppData\Local\Temp\ipykernel_25096\3813818274.py:16: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\alemu\AppData\Local\Temp\ipykernel_25096\3813818274.py:16: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\alemu\AppData\Local\Temp\ipykernel_25096\3813818274.py:16: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\alemu\AppData\Local\Temp\ipykernel_25096\3813818274.py:16: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\alemu\AppData\Local\Temp\ipykernel_25096\3813818274.py:16: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\alemu\AppData\Local\Temp\ipykernel_25096\3813818274.py:16: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\alemu\AppData\Local\Temp\ipykernel_25096\3813818274.py:16: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\alemu\AppData\Local\Temp\ipykernel_25096\3813818274.py:16: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\alemu\AppData\Local\Temp\ipykernel_25096\3813818274.py:16: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\alemu\AppData\Local\Temp\ipykernel_25096\3813818274.py:16: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\alemu\AppData\Local\Temp\ipykernel_25096\3813818274.py:16: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\alemu\AppData\Local\Temp\ipykernel_25096\3813818274.py:16: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\alemu\AppData\Local\Temp\ipykernel_25096\3813818274.py:16: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\alemu\AppData\Local\Temp\ipykernel_25096\3813818274.py:16: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)
C:\Users\alemu\AppData\Local\Temp\ipykernel_25096\3813818274.py:16: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)

In [121]:
results_df

     bus_id  halt_brake_active_time  park_brake_active_time     ratio
0      B183                     0.0                  3251.0  0.000000
1      B183                     0.0                  2386.0  0.000000
2      B183                     0.0                 12531.0  0.000000
3      B183                     0.0                  2047.0  0.000000
4      B183                     0.0                  1330.0  0.000000
...     ...                     ...                     ...       ...
1403   B208                 21557.0                  7840.0  2.749617
1404   B208                  5038.0                  1759.0  2.864127
1405   B208                 16848.0                  4488.0  3.754011
1406   B208                 15811.0                  4510.0  3.505765
1407   B208                  3508.0                  1678.0  2.090584

[1408 rows x 4 columns]

**16. For each pair of stops that are consecutive in at least a trip, compute the average speed achieved when going from the first to the second stop.**

In [150]:
df = pd.read_csv(file_path)
print(df.columns)

Index(['name', 'busNumber', 'startTime_iso', 'startTime_unix', 'endTime_iso',
       'endTime_unix', 'drivenDistance', 'busRoute', 'energyConsumption',
       'itcs_numberOfPassengers_mean', 'itcs_numberOfPassengers_min',
       'itcs_numberOfPassengers_max', 'status_gridIsAvailable_mean',
       'temperature_ambient_mean', 'temperature_ambient_min',
       'temperature_ambient_max'],
      dtype='object')

In [151]:
 import pandas as pd
from math import radians, cos, sin, asin, sqrt

# Funzione per calcolare la distanza haversiana tra due punti sulla terra
def haversine(lon1, lat1, lon2, lat2):
    # Converti le coordinate decimali in radianti
    lon1, lat1, lon2, lat2 = map(radians, [lon1, lat1, lon2, lat2])
    
    # Formula haversiana
    dlon = lon2 - lon1
    dlat = lat2 - lat1
    a = sin(dlat/2)**2 + cos(lat1) * cos(lat2) * sin(dlon/2)**2
    c = 2 * asin(sqrt(a))
    
    # Raggio della Terra in chilometri (puoi cambiare questo valore per miglia)
    r = 6371
    
    return c * r